/Dashboard_Info.rtf
/*.dll
/Plugin.nfo
/Artwork/Dashboard Control Design.txt
/Artwork/3x8xosc/
/Artwork/Default/
/Artwork/Instruments/readme.txt
/Artwork/Peavey/
/Artwork/PhatBoy/
/Artwork/XP30/
/.idea/
